* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    display: flex;
    align-items: flex-start;
    height: 14vh;
    width: 100%;
    padding: 1vw 10.4vw;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 10;
}
nav h1 {
    font-size: 20px;
}
.nav-part2 {
    display: flex;
    gap: 1vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}
.nav-part2 h4 {
    font-size: 0.76vw;
    font-weight: 400;
    margin-bottom: 2.6vw;
}
.nav-part2 h5 span {
    font-size: 0.76vw;
    font-weight: 500;
    display: inline-block;    
}
.nav-part2 h5 {
    margin-bottom: 0.8vw;
    display: none;
    overflow: hidden;
}
nav:hover #nav-bottom {
    background-color: #111;
}

#letstalk {
    background-color: #0BA34E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.76vw;
    font-weight: 700;
    padding: 9px 9px 9px 9px;
    border: none;
    border-radius: 40px;
}
#letstalk span {
    padding-left: 17px;
}

#nav-bottom {
   width: 79%;
   position: absolute;
   bottom: 0;
   background-color: #111;
   top: 100%;
   z-index: 9;
   border-bottom: 1px solid #fff;
}
.bottom-div {
    font-size: small;
    margin-left: 4px;
    margin-top: 2vw;
}
.bottom-div h5 {
    overflow: hidden;
    margin-bottom: 0.2vw;
}
.bottom-div h5 span {
    font-weight: 500;
    display: inline-block;
    font-size: 0.75;
    opacity: 0;
}


#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1 {
    font-size: 6.5vw;
    font-weight: 800;
    line-height: 7vw
}
#page1 h1 svg {
    height: 4.8vw;
    width: 5vw;
    background-color: #0BA34E;
    border-radius: 50%;
    padding: 5px;
}
#page1 p {
    text-align: center;
    font-weight: 400;
    margin-top: 7vh;
}
#page1-topic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}
#page1-topic h4 {
    font-weight: 400;
    font-size: 1.19vw;
    text-transform: lowercase;
    margin-top: 2px;
    padding: 5px 12px;
    border: 1px solid #4c4c4c;
    border-radius: 50px;
}
#page1-topic h4:nth-last-child(2) {
    border: none;
}
#moving-div {
    background-color: white;
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
}
#moving-div move {
    display: flex;
    align-items: center;    
}
.move img {
    width: 80px;
    margin: 4px;
    margin-top: 8px;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}
