* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1vw 10.4vw;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav h1 {
    font-size: 20px;
}
.nav-part2 {
    display: flex;
    gap: 1vw;
}
.nav-part2 h4 {
    font-size: 0.76vw;
    font-weight: 400;
}
nav:hover #nav-bottom {
    height: 100%;
    bottom: -100%;
}
#nav-bottom {
    position: absolute;
    width: 79%;
    bottom: 0;
    transition: all ease 0.5s;
    border-bottom: 1px solid #dadada;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1 {
    font-size: 6.5vw;
    font-weight: 800;
    line-height: 7vw
}
#page1 h1 svg {
    height: 4.8vw;
    width: 5vw;
    background-color: #0BA34E;
    border-radius: 50%;
    padding: 5px;
}
#page1 p {
    text-align: center;
    font-weight: 400;
    margin-top: 7vh;
}
#page1-topic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}
#page1-topic h4 {
    font-weight: 400;
    font-size: 1.19vw;
    text-transform: lowercase;
    margin-top: 2px;
    padding: 5px 12px;
    border: 1px solid #4c4c4c;
    border-radius: 50px;
}
#page1-topic h4:nth-last-child(2) {
    border: none;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}
